


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--grey--if);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


header {
    width: 100%;
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white--if);
    border-bottom: 1px solid var(--border--if);
    /* position: sticky; */
    top: 0;
}

.back-button {
    width: 44px;
    text-decoration: none;
    color: var(--black--if);
}

.logo {
    width: 90px;
    height: 90px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--white--if);
    padding: 2px; /* Adiciona um padding para dar um espaçamento interno */
    margin-top: -10vh;
}

.container h1{
    font-size: 86px;
    color: #0E194D;
}


.container .descer{
    font-size: 86px;
    color:#008000;
    margin-right: 30vh;
    margin-top: -2vh;
}

form {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

form input {
    width: 50vh;
    padding: 1vh;
}

form label{
    margin-top: 5%;
    margin-bottom: 1%;
}

form textarea{
    padding: 3vh;
    width: 50vh;
}

form select{
    padding: 1vh;
    width: 50vh;
}

.hidden-upload {
    display: none;
}

.custom-upload {
  border: 1px solid black;
  padding: 1vh;
  border-radius: 1vh;
}

form button{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    background-color:#008000 ;
    font-weight: bold;
    border: none;
    border-radius: 2vh;
    width: 40%;
    padding: 1vh;   
}

