
       :root {
    --green--if: #008000; /* Verde do if */
    --white--if: #ffffff; /* Branco */
    --grey--if: #f9f9f9;  /* Cinza claro */
    --black--if: #000000; /* Preto */
    --border--if: #ccc;   /* Cinza para borda */
    --text--primary: #555; /* Cor primária do texto */
    --hover--bg: #f0f0f0; /* Cor de fundo no hover */
    --hover--btn: #45a049; /* Cor de fundo no hover do botão */
    --attention--box: #bf0000; /* Cor de fundo para quadros de aviso*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white--if);
    display: flex;
    flex-direction: column;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--white--if);
    padding: 20px; /* Adiciona um padding para dar um espaçamento interno */
    width: 100%; /* O contêiner ocupa toda a largura */
    height: 100%; /* O contêiner ocupa toda a altura */
}

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white--if);
    border-bottom: 1px solid var(--border--if);
    /* position: sticky; */
    top: 0;
}

.back-button {
    width: 44px;
    text-decoration: none;
    color: var(--black--if);
}

.loginBtn{
    align-self: center;
    background-color: #008000;  
    padding: 0.50rem;
    width: 10%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: space-around;
    color: var(--white--if);
    text-decoration: none;
}

.logo {
    height: 80px;
}

h1 {
    margin: 20px 0;
    color: var(--black--if);
}

p{
    font-size: 20px;
    color: var(--text--primary);
    margin: 10px 0;
    font-weight: 500;
    line-height: 25px;
    padding: 25px;
}

.text{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;    
    max-width: 500px;
}

.headImage{
    height: 25vh;
    width: 25vh;
}

.headTitle{
    font-weight: 500;
    padding: 25px;
}

h1 span {
    color: var(--green--if);
    font-weight: bold;
    font-size: 5vh;
    align-self: flex-start;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.headSubtitle{
    max-width: 500px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;    
    max-width: 500px;
    justify-content: space-between;
}

.buttons_column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    align-items: center;
    justify-content: space-between;
}

.btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    font-size: 22px;
    color: var(--text--primary);
    border: 1px solid var(--border--if);
    border-radius: 30px;
    background-color: var(--white--if);
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 20vh;
    width: 25vh;
    font-size: 2vh;
}


.btn img {
    align-self: center;
    width: 90px;
    height: 90px;
    min-width: 90px; /* Ensure all icons have the same width */
}

#docNes{
    padding: 10px;
}

#avisoBox{
    cursor:default;
    background-color: var(--attention--box);
}

#avisoImg{
    width: 60px;
    height: 60px;
}

#avisoTxt{
    color: var(--white--if);
}

.btn:hover {
    background-color: var(--hover--bg);
}
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0, 0, 0, 0.584); /* Cor de fundo com opacidade */
  }
  
  /* Estilo do conteúdo da modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    position: relative;
    border: 1px solid #888;
    width: 60vw; /* Pode ser mais ou menos, dependendo do design */
}
.corpo p{
    font-size: x-large;
    text-align: center;
    padding: rem;
}
.corpo a{
    font-size: x-large;
    text-decoration:underline;
    display: flex;
    padding-left: 2rem;
}

.button-modal{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.button-modal button{
    font-size: large;
    font-weight: bolder;
    border-radius: 50px;
    border: none;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
}
#voltarBtn{
    background-color: white;
    border: 1px black solid;
}

#prosseguirBtn{
    background-color: var(--green--if);
    color: var(--white--if);
}
  /* O botão fechar (x) */
.close {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}