body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header, main {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

header #img{
    width: 100px; /* Largura desejada */
    height: auto;
    margin-bottom: 20px;
    margin-left: 52px;
}


.back-button, .menu-button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    border: solid 5px black;
    border-radius: 50%;

}
.material-symbols-outlined {
    font-size: 80px;
}

.title-section{
    display: flex;
    align-items:flex-end ;
    width: 800px;
}

.title-section h1{
    padding: 0;
    margin: 0;
    font-size: 80px;
    margin-left: 50px;   
}

.title-section img{
    width: 150px;
    height: auto;
}

.login-form form    {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.login-form form input{
    width: 500px; /* Largura desejada */
    padding: 10px; /* Espaçamento interno para melhorar a visualização */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda sólida com cor cinza claro */
    border-radius: 20px; /* Borda arredondada */
    outline: none; /* Remover o contorno ao focar */
    box-shadow: 0 0 5px #D9DDD1; /* Sombra suave para efeito de elevação */
    background-color: #FDFDFD;
}


.login-form form label{
    font-weight: bold;
    margin-top: 10px;
}

.login-form label,
.login-form input,
.login-form button,
.login-form a {
    display: block;
    margin-bottom: 15px;
}

.login-form label {
  font-weight: bold;
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.login-form input{
  width: 500px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; /* Borda cinza para inputs */
  border-radius: 50px;
}

.login-form .connect-button {
  background-color: #28a745; /* Cor verde para o botão */
  color: #fff; /* Cor do texto branco */
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  width: 505px;
}

.login-form a{
    color: #0E194D;
    font-weight: bold;
    
}

a, p{
    font-size: 20px;
}

.login-form label, .login-form input, .login-form button, .login-form a {
    display: inline;
}

.login-form .connect-button:hover {
  background-color: #218838; 
}


.login-form .signup-link:hover {
  text-decoration: underline; 
}

.error-message{
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: -27%;

}
