


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--grey--if);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white--if);
    border-bottom: 1px solid var(--border--if);
    /* position: sticky; */
    top: 0;
}

.back-button {
    width: 44px;
    text-decoration: none;
    color: var(--black--if);
}

.logo {
    height: 80px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--white--if);
    padding: 20px; /* Adiciona um padding para dar um espaçamento interno */
}

.container h1{
    font-size: 90px;
}


.container span{
    color:#008000;
}


.container .meus-anuncios {
    display: flex;
    margin-top: 7%;
    gap: 30px;

}

.container .meus-anuncios > h2 {
    border:  1px  solid black;
    padding: 30px;

}


.container .meus-avisos {
    display: flex;
    margin-top: 4%;
    gap: 30px;

}

.container .meus-avisos > h2 {
    border: 1px solid black;
    padding: 30px;

}


