* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--grey--if);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}


header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white--if);
    border-bottom: 1px solid var(--border--if);
    /* position: sticky; */
    top: 0;
}


.back-button {
    width: 60px;
    text-decoration: none;
    color: var(--black--if);
    margin-left: 4vh;
}

.logo {
    height: 14vh;
    margin-right: 5vh;
}


.material-symbols-outlined {
    font-size: 80px;
}

.highlight {
    color: #4CAF50;
    margin-right: 100px;
}

.title-section{
    text-align: center;
    padding-top: 5vh;
}
.title-section h1 {
    font-size: 90px;
    color: #2c3e50;
    width: 1000px;
    margin: 0;
    padding: 0;

}

.quick-links{
    border: solid 1px #D9DDD1;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 400px;
    display: flex;  
    align-content: center;
    align-items: center;
}
.quick-links h2, .quick-links span, .quick-links img{
    margin-left: 50px;
}
.box a{
     text-decoration: none; /* Remove sublinhado padrão dos links */
    color: inherit; /* Herda a cor do texto do elemento pai */
}
 
.box{
    display: flex;
    flex-direction: column;
    
}

main #img{
    width: 800px; /* Largura desejada */
    height: auto;
    margin-bottom: 500px;
}

main{
    display: flex;
    justify-content: space-around;

}