* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--grey--if);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white--if);
    border-bottom: 1px solid var(--border--if);
    top: 0;
}

.highlight {
    color: #4CAF50;
}

header h1 {
    font-size: 64px;
}

.anucnio {
    margin-left: 4%;
    width: 900px;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.anucnio img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: none;
}

.anucnio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #4CAF50;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    width: 500px;
    height: 50px;
    margin-left: 3.5%;
    margin-bottom: 6vh;
}

.anucnio-btn > img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

main a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border: 2px solid #95ca1a;
    font-size: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 17%;
    margin-bottom: 5%;
    border-radius: 8px;
    width: 70%;
}

.button > img {
    width: 7%;
    margin-left: 3vh;
}

.button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3vh;
}
